<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <title>Cuenta Regresiva!!!!</title>
</head>

<header>

  
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('./images/fotoChicas.jpg');
        height: 100vh;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Faltan...</h1>
            <h4 class="btn btn-outline-light btn-lg"><div id="cuenta"></div></h4>
            <h4 class="mb-3">Para el viajeeee</div></h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <script src="/js/simplyCountdown.min.js"></script>
  <script src="/js/countdown.js"></script>
</html>
